/*
    Primary color: color: #fad000;
    Secondary: #442e56 (darker: #342442);
*/
body {
    background: #f3f6fa;
}
h1 {
    font-weight: bolder;
}
hr {
    border-color: #999;
}
.bg-success {
    background: #00fd78;
}
.dt-row.bg-info {
    background-color: #d9edf7 !important;
}
.dt-row.bg-warning {
    background-color: #f1babf !important;
}
.bg-danger {
    /*background-color: #ff4252 !important;*/
}
.stat-fc {
    padding: 2px;
    border-radius: 4px;
}
.modal-content hr {
    margin-top: 10px;
}
.modal-title {
    padding: 0 10px;
    color: #999;
}
.text-primary {
    color: #fad000;
}
.navbar {
    border-radius: 0;
    margin-bottom: 0;
}
.navbar-default {
    background: white;
    box-shadow: 0 0 15px #ccc;
}
.navbar-brand.area {
    /*height: 63px;*/
    margin-top: 5px;
}
.btn {
    border: 0;
    box-shadow: 2px 5px 10px #ddd;
    text-transform: uppercase;
    /* font-size: 12pt; */
    font-weight: bold;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    /* height: 40px; */
    transition: all 250ms ease;
    border-radius: 1px;
}
.btn-block {
    padding-top: 10px;
    padding-bottom: 10px;
}
/* a.btn,
label.btn {
    padding-top: 9px;
} */
.btn-default {
    background: #433d59;
    color: white;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active {
    background: #342442 !important;
    color: white !important;
}
.btn-primary {
    background: #fad000;
}
.btn-success {
    background: #00fd78;
}
.btn-danger {
    background: #ff4252;
}
.btn-primary:hover,
.btn-primary:focus {
    background: #e1bb00 !important;
}
label {
    color: #999;
}
.form-group {
    margin-top: 25px;
}
.modal-content .form-group {
    margin-top: 0;
}
input.form-control,
textarea.form-control {
    border: 1px solid #999;
    /*padding: 20px 15px;*/
    box-shadow: none !important;
}
textarea.form-control {
    /*padding: 10px 15px;*/
    resize: none;
}
input.form-control:focus,
select.form-control:focus,
textarea.form-control:focus {
    border-color: #fad000;
}
select.form-control, .select2-selection {
    border: 1px solid #999 !important;
    /*padding: 10px 15px !important;*/
    height: auto  !important;
    box-shadow: none !important;
}
.select2-selection:focus {
    border: 1px solid #fad000 !important;
    /*padding: 10px 15px !important;*/
    height: auto  !important;
    box-shadow: none !important;
}
.select2-selection {
    padding: 6px 7px;
}
.select2-container .select2-selection--single {
    box-shadow: none !important;
    outline: none;
    height: auto;
}
.select2-container .select2-selection--single.active {
    border-color: #fad000;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 8px;
}
.select2-search--dropdown .select2-search__field {
    /* padding: 4px; */
    box-shadow: none !important;
    outline: none;
    padding: 6px 10px;
    border-radius: 4px;
    /* padding: 6px 7px; */
}
.has-error .select2-selection {
    border-color: rgb(185, 74, 72) !important;
}

#sidebar {
    background: #442e56;
    width: 250px;
    height: 100vh;
    position: fixed;
    z-index: 99;
    overflow: auto;
}
#sidebar .container-fluid {
    padding: 0;
}
#titleBox {
    display: block;
    text-align: center;
    padding: 5px 0;
    background: #342442;
    margin-bottom: 20px;
}
#sidebar .nav-stacked > li > a {
    color: #ddd;
    border-left: 5px solid #442e56;
    padding-left: 30px;
}
#sidebar .nav-stacked.in > li > a {
    border-left: 5px solid #342442;
}
#sidebar .nav-stacked > li > a > img {
    margin-right: 10px;
    float: left;
    width: 20px;
}
#sidebar .icon-cfg .nav-stacked > li > a > img {
    width: 27px;
}
#sidebar .nav-stacked > li > a:hover,
#sidebar .nav-stacked > li > a:focus,
#sidebar .nav-stacked > li > a:active {
    background: transparent;
    color: white;
}
#sidebar .nav-stacked > li.active > a {
    color: #fad000;
    border-color: #fad000;
}
#sidebar .nav .badge {
    position: absolute;
    margin-top: -6px;
    margin-left: -16px;
    font-size: 8pt;
    background: #fad000;
    border: 2px solid #442e56;
}
#sidebar .panel {
    background: none;
    margin-bottom: 0;
}
#mainContent {
    margin-left: 250px;
    padding-bottom: 50px;
}
.navbar .container-fluid {
    padding-left: 50px;
    padding-right: 50px;
}
.progressBar {
    height: 3px;
}
.progressBar > svg {
    height: 100%;
    display: block;
}
#profile-dropdown img {
    margin-right: 10px;
}
#profile-dropdown .caret {
    margin-left: 15px;
}
.page-header {
    margin-top: 5px;
    border-bottom: 2px solid #ddd;
}
.page-header h1 {
    font-weight: normal;
}
.content {
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 2px 2px 3px #ddd;
    padding: 25px;
    background: white;
}

.container-fluid.content h3.title-datatable{
    margin-bottom: -29px;
}

.form-padding {
    padding: 0 50px;
}
.error-box {
    background: #ff4252;
}
.warning-box {
    background: rgb(238, 187, 32);
}
.error-box, .warning-box {
    color: white;
    padding: 15px 15px;
}
.error-box, .warning-box img {
    margin-right: 10px;
}
.error-box, .warning-box a {
    color: white;
    font-weight: bold;
}
.valign-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.valign-center {
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    width:inherit;
    height:inherit;
    margin: 0 auto;
    pointer-events: all;
}
.modal h3 {
    font-weight: normal;
}
.modal-header {
    border-bottom: 0;
}
.modal-body {
    padding: 50px;
    padding-top: 0;
}
.modal-icon {
    border-radius: 100%;
    display: inline-block;
    padding: 20px;
    border: 3px solid #00e896;
}
.modal-icon img {
    display: inline-block;
}
.modal-btn {
    margin-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
}
.detailTabungan {
    font-size: 14pt;
    width: 100%;
    color: #999;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    border: 0 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #fad000;
    color: white !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #e1bb00;
    color: white !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.next:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.previous:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.first:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.last:hover {
    background: transparent;
    color: inherit !important;
    text-decoration: underline !important;
}
.dataTables_wrapper .dataTables_filter input {
    font-weight: normal;
    margin-left: 0;
}
.dataTables_wrapper .dataTables_length {
    vertical-align: top;
}
.dataTables_wrapper .dataTables_length select {
    font-weight: normal;
    display: inline-block;
    width: auto;
}
.dataTables_wrapper .dataTables_length select.form-control {
    border: 1px solid #ddd;
    box-shadow: none !important;
    padding: 0 10px !important;
    height: auto;
    margin: 0 5px;
}
table.dataTable tbody td {
    padding: 20px 15px;
}
.customCheck {
    border: 1px solid #999;
    background: transparent;
}
.flex-wrapper {
    display: flex;
    flex-wrap: nowrap;
}
.flexbox {
    flex: 1;
}
.flexbox:first-child {
    margin-right: 15px;
}
.flexbox:last-child {
    margin-left: 15px;
}
.flexbox:nth-child(2) {
    margin-right: 15px;
}
.detailTabungan td {
    width: 50%;
}
/* Utilities */
a[aria-expanded=true] .glyphicon-chevron-down {
   display: none;
}
a[aria-expanded=false] .glyphicon-chevron-up {
   display: none;
}

#sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #442e56;
}

#sidebar::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

#sidebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    background-color: #fad000;
}

#filterTable td, #filterTable th {
    padding: 0 5px;
}

.td-valign-middle td {
    vertical-align: middle!important;
}
.td-valign-top td {
    vertical-align: top!important;
}

.th-text-center th {
    text-align: center;
}

.th-valign-middle th {
    vertical-align: middle!important;
}

.action-col {
    margin-right: 5px;
}

.action-col .addRowBtn,
.action-col + .delRowBtn {
    margin-bottom: 2px;
}

.word-break {
    word-break: break-all;
}

.borderless > tbody > tr > td,
.borderless > tbody > tr > th,
.borderless > tfoot > tr > td,
.borderless > tfoot > tr > th,
.borderless > thead > tr > td,
.borderless > thead > tr > th {
    border: none;
}

@media screen and (min-width: 992px) {
    .form-padding {
        padding: 0 20%;
    }
}
@media screen and (max-width: 768px) {
    .flex-wrapper {
        display: block;
    }
    .flexbox {
        margin: 0 !important;
    }
    .flexbox:last-child {
        margin-top: 15px !important;
    }
    #sidebar {
        width: 80px;
    }
    #mainContent {
        margin-left: 80px;
    }
    #sidebar .nav-stacked > li > a {
        font-size: 0;
        padding-left: 25px;
    }
}
.detailSaldo td,
.detailSaldo th {
    text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    margin: 0;
}
input.qty-special {
    /*padding: 20px 10px;*/
    padding: 6px 0px;
    text-align: center;
}
div.dt-buttons {
    float: right;
}
/************************
** Firefox fixes
*************************/
@-moz-document url-prefix() {
    input.form-control {
        /*padding: 0 15px;*/
        /*height: 40px;*/
    }
    textarea.form-control {
        /*padding: 10px 15px;*/
    }
    input[type=number].qty-special {
        /*padding: 0 10px;*/
    }
}
input[type=number] {
    -moz-appearance: textfield;
}

select[readonly].select2 + .select2-container {
    pointer-events: none;
    touch-action: none;
}


select[readonly].select2 + .select2-container .select2-selection {
    background: #eee;
    box-shadow: none;
}

select[readonly].select2 + .select2-container .select2-selection__arrow,
select[readonly].select2 + .select2-container .select2-selection__clear {
    display: none;
}

#accordion > li > ul {
    background: #342442;
}

.select2-selection--single {
    height: 100% !important;
}

.select2-selection__rendered {
    word-wrap: break-word !important;
    text-overflow: inherit !important;
    white-space: normal !important;
}

@media (min-width: 992px) {
  .modal-xlg {
    width: 1200px;
  }
}
